// * {
//     outline: 1px red solid;
// }

@import "./mixin";
@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700;800&display=swap');
@import "./grid";

/**** VARIABLES ****/
$scroll-factor: 0.5;
$header-height: 50px;


html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.3;
    color: $color-text;
    background-color: #F9F9F9;
    position: relative;
    // overflow-x: hidden;
}

h2 {
    font-size: 25px;
    color: $color-text;
    font-weight: 400;
    margin-right: 40px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 15px;
    color: $color-text;
}


header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1em 0 1em 20%;


    h1 {
        width: 165px;
        height: 52px;
        margin-right: 39px;

        a {
            display: block;
            background: url("../img/logo.svg") no-repeat;
            width: 100%;
            height: 100%;
            background-size: 100%;
            @include hideText;
        }
    }

    .inputWrapper {
        height: 100%;
        position: relative;

        input {
            width: calc(100% - 172px);
            height: 100%;
            border: none;
            outline: 0;
            padding: 1em 9em;
            border: none;
            background-color: #F9F9F9;
            border-radius: 2em 2em;
            padding-inline-start: 52px;
            position: relative;
        }

        ::placeholder {
            color: rgb(58, 58, 58, 0.5);
            font-size: 16px;
        }

        .searchButton {
            position: absolute;
            background-color: transparent;
            background: url('../img/search.svg') no-repeat center;
            outline: 0;
            border: 0;
            pointer-events: auto;
            right: 12px;
            height: 100%;
            cursor: pointer;
            width: 50px;

        }
    }
}

// aside {
//     width: 80px;
//     color: white;
//     height: 100vh;
// }

nav {
    padding-top: 61px;
    display: flex;
    align-items: center;
    margin-left: 272px;
    margin-bottom: 41px;

    .list {
        display: flex;
        font-size: 16px;
        gap: 10px;

        li {
            background-color: white;
            border: 1px solid rgb(58, 58, 58, 0.2);
            color: rgb(58, 58, 58, 0.4);
            padding: 0.5em 1.5em;
            border-radius: 5px;
            cursor: pointer;

            &:hover,
            &:active,
            &:focus {
                background-color: $color-primary;
                border: 1px solid $color-primary;
                color: white;
            }
        }

    }
}

main {
    margin-bottom: 50px;
}

section {
    max-width: 1300px;
    background-color: white;
    margin: 0 auto;
    padding: 60px
}

.clothingItem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;

    figure {
       
        border: 1px solid #D3D3D3;
        border-radius: 10px;
        overflow: hidden;
        width: 256px;
        height: 256px;
        position: relative;


        .hamWrapper {
            position: absolute;
            background-color: $color-accent;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            top: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
            transition: all .4s ease-in-out;


            .ham {
                cursor: pointer;

                span {
                    background-color: white;
                    width: 20px;
                    height: 2px;
                    margin: 5px 0;
                    display: block;
                    transition: all .4s ease-in-out;
                }

                &.is-active span:nth-child(1) {
                    transform: translateY(7px) rotate(45deg);
                }

                &.is-active span:nth-child(2) {
                    opacity: 0;
                    transform: rotate(45deg);
                }

                &.is-active span:nth-child(3) {
                    transform: translateY(-7px) rotate(-45deg);
                }
            }

            &.is-active {
                top: 70px;
                transition: all .4s ease-in-out;
            }
        }

        .item {
            img {
                position: absolute;
                top: 25px;
                right: -7px;
            }

            .hair {
                position: absolute;
            }

            &.is-active {
                display: none;
            }
        }

        figcaption {
            background-color: $color-primary;
            position: absolute;
            width: 100%;
            padding: 8px;
            padding-inline-start: 35px;
            bottom: 0;
            color: white;
            font-weight: 400;

            &.is-active {
                animation:figMove .5s forwards;
            }

            @keyframes figMove {
                0% {
                    bottom: 0;
                    opacity: 1;
                }

                100% {
                    bottom: 100%;
                    opacity: 0;
                }
            }
        }

        mark {
            background: url('../img/iconStar.svg') no-repeat;
            background-size: cover;
            width: 13px;
            height: 13px;
            display: inline-block;
            margin-left: 7px;
        }

        .title {
            background-color: $color-primary;
            position: absolute;
            width: 100%;
            color: white;
            font-weight: 400;
            top: 0;
            bottom: auto;

            // 先讓它消失
            height: 0;
            overflow: hidden;
            padding: 0;

            &.is-active {
                opacity: 0;
                height: auto;
                padding: 9px;
                animation: fadeIn .1s ease-in-out forwards;
                animation-delay: .3s;
                padding-inline-start: 35px; 
            }

            span {
                margin-top: 2px;
                display: block;
                font-size: 15px;
                color: #FFF6C9;
            }

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .itemPic {
            position: absolute;
            right: calc(50% - 75px/2);
            top: 93px;
            opacity: 0;
            z-index: 1;

            &.is-active {
                opacity: 100;
            }
        }

        .from {
            display: none;

            .formLink {
                margin-left: 15px;
                display: flex;
                gap: 10px;
            }

            a {
                display: block;

                :hover {
                    transform: scale(1.2);
                    transition: all .4s ease-out;
                }
            }

            img {
                position: static;
            }

            &.is-active {
                margin-top: 80%;
                display: flex;
                align-items: center;
                color: #8F6767;
                padding: 10px 0;
                padding-inline-start: 26px;
                background-color: #FFF2F2;
            }
        }
    }
}

footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    padding: 1.5em 0;

    img {
        width: 12rem;
        height: auto;
        margin-bottom: 1em;
        margin-right: 1.7em;
    }

    .social {
        @include displayNone;
        padding: 0.5em 2em;
        border-radius: 5em;
        padding-top: 0.5em;
        margin-bottom: 1em;

        a {
            display: block;
            width: 1.8rem;

            &:hover {
                filter: brightness(1.1);
            }
        }

        @include bp1024 {
            display: flex;
            gap: 2em;
        }
    }
}